@import '../../colors';
@import '../../mixins';

.input {
  width: 100%;
  height: 38px;
  // padding: 12px 15px 13px;
  padding: 0px 13px;
  border: 1px solid $input-enabled-border;
  border-radius: 4px;

  font-family: 'PT Sans';
  font-size: 16px;
  // line-height: 16px;
  line-height: 38px;
  color: $input;
  box-sizing: border-box;
  outline: none;
}

.input::placeholder {
  color: $input-placeholder;
}

.input:focus {
  border: 1px solid $input-active-border;
  box-shadow: 0px 0px 3px $input-active-shadow;
}

.error {
  border: 1px solid $input-error-border;
}

.error.filled,
.error:focus {
  box-shadow: 0px 0px 3px $input-error-shadow;
}

.disabled {
  border: 1px solid $input-enabled-border;

  color: $input-disabled;
  background-color: $input-disabled-bg;
}

.label {
  margin: 22px 0px 10px;
  display: block;

  font-family: 'PT Sans';
  font-size: 16px;
  color: $heading;
}

.label:first-of-type {
  margin: 0px 0px 10px;
}

.assistive-msg {
  margin: 6px 0px 0px 1px;
  font-size: 12px;
  color: $heading;
}

.error-msg {
  margin: 6px 0px 0px 1px;
  font-size: 12px;
  color: $error-msg;
}

@include for-tablet-portrait-down {
  .assistive-msg {
    margin: 5px 0px 0px 1px;
    letter-spacing: -0.7px;
  }

  .error-msg {
    margin: 5px 0px 0px 1px;
    letter-spacing: -0.7px;
  }
}