@import '../../colors';
@import '../../mixins';

.label {
  margin: 22px 0px 10px;
  display: block;

  font-family: 'PT Sans';
  font-size: 16px;
  color: $heading;
}

.label:first-of-type {
  margin: 0px 0px 14px;
}

.file-input-wrapper {
  width: 100%;
  position: relative;
}

.file-input {
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}

.main-file-label {
  width: 100%;
  height: 38px;
  // padding: 14px 0px 10px 15px;
  padding: 0px 15px;
  border: 1px solid $input-enabled-border;
  border-radius: 4px;
  display: block;
  box-sizing: border-box;

  font-family: 'PT Sans';
  color: $input-placeholder;
  font-size: 16px;
  // line-height: 16px;
  line-height: 38px;
}

.main-file-label_filled {
  color: $heading;
}

.browse-file-label {
  height: 36px;
  // padding: 13px 18px 9px;
  padding: 0px 16px;
  border-left: 1px solid $input-enabled-border;
  border-radius: 0px 4px 4px 0px;
  position: absolute;
  top: 1px;
  right: 1px;
  display: block;
  box-sizing: border-box;
  background-color: $input-browse-bg;

  font-family: 'PT Sans';
  color: $heading;
  font-size: 16px;
  // line-height: 16px;
  line-height: 34px;
}

.file-input:focus + label {
  border: 1px solid $input-active-border;
  box-shadow: 0px 0px 3px $input-active-shadow;
}

.file-input:focus ~ .browse-file-label {
  border-left: 1px solid $input-active-border;
}

.file-input.error + label {
  border: 1px solid $input-error-border;
  box-shadow: 0px 0px 3px $input-error-shadow;
}

.file-input.error ~ .browse-file-label {
  border-left: 1px solid $input-error-border;
}

.error-msg {
  margin: 6px 0px 0px 1px;
  font-size: 12px;
  color: $error-msg;
}

@include for-tablet-portrait-down {
  .error-msg {
    margin: 5px 0px 0px 1px;
    letter-spacing: -0.7px;
  }
}