@import '../../colors';

.radio-toolbar {
  
}

.title {
  margin: 21px 0px 21px;

  font-family: 'PT Sans';
  font-size: 16px;
  color: $heading;
  letter-spacing: -0.1px;
}

.choise-container {
  
}


.radio-wrapper {
  margin-top: 14px;
  position: relative;
}

.radio-wrapper:first-of-type {
  margin-top: 0px;
}

.radio {
  width: 0;
  height: 0;
  opacity: 0%;
  position: absolute;
}

.label {
  height: 16px;
  padding: 1px 0px 0px 25px;
  display: block;
  box-sizing: border-box;
  cursor: pointer;

  font-family: 'PT Sans';
  font-size: 16px;
  line-height: 14px;
  color: $heading;
}

.check {
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  border: solid 1px $input-checkbox-border;
  border-radius: 50%;
  background-color: $background;
  display: flex;
  justify-content: center;
  align-items: center;

  translate: 0.2s ease-in-out background-color;
}

.radio:checked ~ .check {
  width: 16px;
  height: 16px;
  border: 0;
  background-color: $secondary;
}

.radio ~ .check::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border: 0;
  border-radius: 50%;
  box-shadow: 0.6px 0.8px 1px 0 rgba(0, 0, 0, 0.3);
  background-color: $background;
  opacity: 0;

  transition: 0.2s ease-in-out opacity;
}

.radio:checked ~ .check::before {
  opacity: 1;
}