@import '../../colors';
@import '../../mixins';

.header {
  height: 60px;
  padding: 20px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  background-color: $background;
  overflow: visible;
}

.logo-a {
  width: 135px;
  height: 20px;
}

.logo-img {
  width: 100%;
}

.nav {
  top: 2px;
  position: relative;
}

.link-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

.menu-btn {
  width: 20px;
  height: 15px;
  padding: 2px 0px 0px;
  border: 0;
  display: none;
  background-color: transparent;
  cursor: pointer;
  overflow: visible;
}

.menu-icon {
  width: 100%;
}

@include for-tablet-portrait-down {
  .header {
    align-items: flex-start;
  }

  .menu-btn {
    display: block;
    position: relative;
    top: 1px;
  }

  .nav {
    display: none;
  }
}

@include for-phone-only {
  .header {
    height: 40px;
    padding: 11px 15px 5px;
  }

  .menu-btn {
    top: 0px;
    height: 20px;
  }
}