$primary: #ef5b4c;
$secondary: #007bff;
$background: white;
$background2: #f9f9f3;

$heading: #212529;
$text: #4c4b4b;

$link-active: #1b4a8a;
$btn-hover: #d24335;
$btn-disabled: #8d8c8c;
$btn-disabled-bg: #d7d7d7;

$input: #404040;
$input-placeholder: #b2b9c0;
$error-msg: #f44336;
$input-browse-bg: #f8f7f5;

$input-enabled-border: #ced4da;
$input-active-border: #80bdff;
$input-error-border: #db3445;
$input-checkbox-border: #adb5bd;

$input-active-shadow: rgba(128, 189, 255, 0.2);
$input-error-shadow: rgba(219, 52, 69, 0.2);

$input-disabled: #767e86;
$input-disabled-bg: #e9ecef;

$modal-separator: #eceef1;
$footer-border: #ececec;
$sidedrawer-border: #e1e1e1;